<!-- Header: back, name, status, and generate button -->
<div class="tournaments-page">
  <div class="page-header">
    <div class="header-left">
      <button class="btn-back" routerLink="/tournaments">Back</button>
      <h1>{{ tournament?.name }}</h1>
      <span class="status-badge" [class.generated]="tournament?.status === 'GENERATED'">
        {{ tournament?.status }}
      </span>
    </div>

    @if (tournament?.status === 'DRAFT') {
      <button
        class="btn-save"
        [disabled]="selectedPlayerIds.length < 2"
        (click)="confirmParticipants()">
        Generate
      </button>
    }
  </div>

  <!-- if DRAFT: show all players, select players, select or unselect players-->


  @if (tournament?.status === 'DRAFT') {
    <section class="tournaments-section">
      <h2 class="section-title">

        <span class="badge">{{ allPlayers.length }} available players</span>
      </h2>

      <div class="players-selection-grid">
        @for (player of allPlayers; track player.id) {
          <div
            class="player-select-card"
            [class.selected]="isSelected(player.id)"
            (click)="togglePlayer(player.id)">
            <img [src]="getAvatarUrl(player.nick)" alt="Avatar" class="player-avatar">
            <div class="player-info">

              <h3>{{ player.nick }}</h3>
            </div>
          </div>
        }
      </div>
    </section>
  }


  <!-- if GENERATED or FINISHED: show bracket with rounds and matches -->

 @if ((tournament?.status === 'GENERATED' || tournament?.status === 'FINISHED') && rounds.length > 0) {
    <section class="bracket-section">
      <h2 class="section-title">Bracket</h2>

      <!-- Only appears if the tournament has a champion -->
      @if (champion) {
        <div class="champion-banner">
          <img [src]="getAvatarUrl(champion.nick)" class="champion-avatar">
          <div class="champion-info">
            <span class="champion-label">Champion</span>
            <h2 class="champion-nick">{{ champion.nick }}</h2>
          </div>
        </div>
      }

    <!-- rounds. Loop each round to find all the match from the round-->
      <div class="bracket-container">
        @for (round of rounds; track $index) {
          <div class="round-column">
            <h3 class="round-title">Round {{ $index + 1 }}</h3>

            @for (match of round; track match.id) {
              <!-- eatch match card has: player 1 and player 2-->
              <!-- css class -->
               <!-- winner: if the match is resolved-->
                <!-- preselected: if the match has a pending winner selected-->
                 <!-- clickable: the match has a pending winner -->
              <div class="match-card"
                [class.resolved]="match.status === 'RESOLVED'"
                [class.faded]="champion">

                <div
                  class="match-player"
                  [class.winner]="match.winner_id === match.player1?.id"
                  [class.pre-selected]="pendingWinners[match.id] === match.player1?.id"
                  [class.clickable]="match.status === 'PENDING' && match.player1 && tournament?.status === 'GENERATED'"
                  (click)="match.status === 'PENDING' && match.player1 && tournament?.status === 'GENERATED' ?
  toggleWinner(match, match.player1.id) : null">
                  @if (match.player1) {
                    <img [src]="getAvatarUrl(match.player1.nick)" class="match-avatar">
                    <span>{{ match.player1.nick }}</span>
                  } @else {
                    <span class="bye-text">BYE</span>
                  }
                </div>

                <div class="match-vs">VS</div>

                <div
                  class="match-player"
                  [class.winner]="match.winner_id === match.player2?.id"
                  [class.pre-selected]="pendingWinners[match.id] === match.player2?.id"
                  [class.clickable]="match.status === 'PENDING' && match.player2 && tournament?.status === 'GENERATED'"
                  (click)="match.status === 'PENDING' && match.player2 && tournament?.status === 'GENERATED' ?
  toggleWinner(match, match.player2.id) : null">
                  @if (match.player2) {
                    <img [src]="getAvatarUrl(match.player2.nick)" class="match-avatar">
                    <span>{{ match.player2.nick }}</span>
                  } @else {
                    <span class="bye-text">BYE</span>
                  }
                </div>


                <!-- shows the status of the match. Winner / winner selected / click to select the winner -->
                @if (match.status === 'RESOLVED') {
                  <div class="match-result">Winner</div>
                } @else if (pendingWinners[match.id]) {
                  <div class="match-result selected">Winner selected</div>
                } @else {
                  <div class="match-result pending">Click to select the winner</div>
                }
              </div>
            }
          </div>
        }
      </div>

      <!-- button to next round-->
       <!-- only appears if the tournament is generated-->
        <!-- there is no champion yet-->
         <!-- all pending winners are selected -->
     @if (tournament?.status === 'GENERATED' && !champion && allPendingSelected())  {
        <button
          class="btn-next-round"
          [disabled]="!allPendingSelected()"
          (click)="nextRound()">
          @if (isFinalRound) {
            Confirm champion
          } @else {
            Generate next round
          }
        </button>
      }
    </section>
  }
</div>
